<div class="container">
  <div class="container-inner inner-sm clearfix">
    <h1>Have Ranking</h1>
    <table class="table table-striped">
      <tr>
        <th class="text-center">持っている人の多い順：上位10アイテム</th>
      </tr>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.title %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>